[Desktop Entry]
Version=1.0
Type=Application
Name=whatRust
Comment=Lightweight unofficial WhatsApp Web client
Icon=io.github.karem505.whatRust
Exec=whatrust
TryExec=whatrust
Terminal=false
Categories=Network;InstantMessaging;
Keywords=WhatsApp;WhatsApp Web;chat;messaging;multi-account;
MimeType=x-scheme-handler/whatsapp;
StartupWMClass=whatrust
X-GNOME-UsesNotifications=true
X-Flatpak=io.github.karem505.whatRust
